//*******************************
// breakpoint
//*******************************
$sp: "only screen and (max-width: 736px)";
$pc: "only screen and (min-width: 737px)";
$tablet: "(min-width: 737px) and (max-width: 1024px)";

//*******************************
// contents width
//*******************************
$baseContentsWidth: 1080px;

//*******************************
// default color
//*******************************
$baseColor: #424242;

//*******************************
// text color, link color
//*******************************
$baseTextColor: #424242;
$linkTextColor: #424242;
$baseHoverColor: #4a90e2;
$baseActiveColor: #4a90e2;
$baseVisitedColor: #424242;
$baseSectionBgColor: #F7F9FB;
$WeatherTitleColor: #4a90e2;


//*******************************
// font size
//*******************************
$baseFontSize: 16px;
$baseLetterSpacing: 0;
$baseLineHeight: 1.75;

//*******************************
// fontfamily
//*******************************
$baseFontFamily: "Noto Sans JP";

//*******************************
// gradation
//*******************************
$titleBaseGradation: transparent linear-gradient(75deg, #15D6E6 0%, #05A9F4 0%, #005BBE 100%);

//*******************************
// space
//*******************************
$sideSpace:16px;
$verticalSpace:80px;



